body {font-family: "Roboto", sans-serif;
    color: #2E2F44;
    font-style: normal;
     }
ul {list-style-type: none;}
h3 {color: #2E2F44;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
/*======HEADER======*/
.navi .logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }

.akcent {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
    }


.navi-list-item {
color: #2E2F44;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none
 }
.navi-list-item:hover,
.navi-list-item:focus{color: #404BBF;}
.navi-list-item:active{color: #404BBF;
text-decoration: underline;
}

.adress .contact {
    color: #434456;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
 }
 .adress .contact:hover,
 .adress .contact:focus{color: #404BBF;}
/*=====ABOUTUS=====*/
.sec {background-color: #2E2F44;}


.main .sec {text-align: center;}
.main .sec .title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.but {
    background: #4A5AEE;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.but:hover,
.but:focus {background: #404BBF}

.about .title-about {visibility: hidden;}
/*.about .title-about .benefit {
    color: #2E2F44;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}*/

.about .title-about .text {
    color: #434456;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/*=====OURTEAM=====*/
.team {background-color: #F4F4FE;}
.team .team-title {
    color: #2E2F44;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   }

/*.team .team-title .person .member{
    color: #2E2F44;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
   }*/

.team .team-title .person .prof {
    color: #434456;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

/*======PORTFOLIO=======*/
.portfolio {background-color: #FFFFFF;}
.portfolio .our-port {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   }
   /*.portfolio .our-port .elements .products {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}*/
.portfolio .our-port .prod-text {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*=====FOOTER=====*/
.footer {
    background-color: #2E2F44;
}

.footer .logo {
    color: #F4F4FE;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer .foot-text {
    color: #F4F4FE;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}